body{
    margin:0;
    box-sizing: border-box;
    background-color: rgb(230, 229, 229);
}

li {
  list-style-type: none;
  font-size: 20px;
}

lottie-player{
    margin:auto;  
 
}

.lottie{
    margin:auto;
}

.footer{
    margin-top: 300px;
    width: 100%;
    background-color: rgb(2, 70, 16);
    color: white;
    text-align: center;
}

.footer, p{
    margin:0;
}